ul {
    list-style: none;
    width: 200px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    background: white;
    width: 300px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 16;
    display: none;
}

ul li a:hover {
    background: rgb(63, 236, 170);

}

ul li:hover ul.dropdown {
    display: block;
    height: 200px;
    overflow: auto;
}

.meal-list {
    margin-left: 2em;
    margin-right: 2em;
    height: 300px;
    overflow: auto;
}

#recipe-instructions {
    height: 300px;
    overflow: auto;
}

.ingredients-table {
    margin: 2em;
    margin-top: 1em;
}

.hide {
    padding: 1px;
}

.savedReceipts {
    margin-left: 50px;
}

.savedReceipts li {
    list-style: none;
    margin-bottom: 10px;
    width: 200px;
}

.savedReceipts li a {
    list-style: none;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: black;
    background: rgb(63, 236, 170);
    width: 300px;
}

.savedReceipts li a:hover {
    background: rgba(63, 236, 170, 0.407);
}